* {
  box-sizing: border-box;
}
.music-box {
  background-color: #0d0e0f;
  margin-right: 5px;
  width: 50%;
  max-width: 480px;
  min-width: 250px;
  height: 100%;
  padding: 20px;
}

.music-box input[type="text"] {
  outline: none;
  padding: 0 10px;
  line-height: 1.5em;
  background-color: #252525;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}
.music-box div {
  height: 100%;
}
.music-box h2 {
  margin: 0 0 10px;
  padding: 0;
}
.songs {
  row-gap: 12px;
}
.song {
  max-height: 70px;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid #252525;
  padding: 5px;
  column-gap: 10px;
}
.song:hover {
  cursor: pointer;
  background-color: #2524248d;
  border-radius: 3px;
}

.song img {
  height: 45px;
  width: 45px;
  border-radius: 2px;
}
#display-songs {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
#display-songs {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#display-songs::-webkit-scrollbar {
  width: 0px;
  transition: 0.3s;
}

#display-songs:hover::-webkit-scrollbar {
  width: 6px;
}

#display-songs::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
.music-box p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.song.active {
  background: #3c3b3b8d;
}

/*width < 920px*/
.songs-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 999;
}

.songs-overlay.active {
  display: block;
}

.show-songs-btn {
  left: 0;
  top: auto;
  position: fixed;
  height: 300px;
  background-color: #752833;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 5px;
}

.show-songs-btn p {
  margin: 0 5px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}
@media (max-width: 920px) {
 .music-box {
  position: fixed;
  margin: 0 auto;
  top: 40px;
  border-radius: 5px;
  height: 90%;
  z-index: 1000;
  min-width: 370px;
 } 
}
@media (max-width: 451px) {
  .music-box {
    min-width: 340px;
    top: 90px;
    width: 100%;
    max-width: 95vw;
    height: 100%;
    z-index: 1;
  }
}