* {
  box-sizing: border-box;
}
.music-box {
  background-color: #0D0E0F;
  margin-right: 5px;
  width: 50%;
  max-width: 480px;
  min-width: 250px;
  height: 100%;
  padding: 20px;
}
.music-box input[type="text"] {
  outline: none;
  padding: 0 10px;
  line-height: 1.5em;
  background-color: #252525;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}
.music-box div {
  height: 100%;
}
.music-box h2 {
  margin: 0 0 10px;
  padding: 0;
}
.songs {
  row-gap: 12px;
}
.song {
  max-height: 70px;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid #252525;
  padding: 5px;
  column-gap: 10px;
}
.song:hover {
  cursor: pointer;
  background-color: #252525;
  border-radius: 3px;
}
.song img {
    height: 45px;
    width: 45px;
    border-radius: 2px;
}
#display-songs {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}
#display-songs {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

/* Chrome */
#display-songs::-webkit-scrollbar {
  width: 0px;
  transition: 0.3s;
}

#display-songs:hover::-webkit-scrollbar {
  width: 6px;
}

#display-songs::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.15);
  border-radius: 10px;
}
.music-box p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.active {
  background: linear-gradient(#0f0d0d,70%,#e93e5533);
}